{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>En Soluciones en Informática, nos especializamos en ofrecer soporte técnico integral en redes y telecomunicaciones, asegurando que cada componente de la infraestructura de nuestros clientes funcione de manera óptima. Nuestro enfoque no solo abarca la solución de problemas técnicos, sino también un compromiso con la calidad en la atención, brindando un servicio confiable y eficiente que cubra las necesidades de todos nuestros usuarios y clientes.
            Soporte Técnico en Redes. </p>            
   
        <p><b>Teléfono:</b> 722 881 0765</p>
        <p><b>Honorarios:</b> 2500 $ </p>
    </div>
</div>
{% endblock %}

